{% extends "layout.html" %}
{% block content %}

   <!-- Header + Breadcrumbs -->
  <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center gap-4 mb-6 text-center sm:text-left">
    <h1 class="text-2xl sm:text-3xl font-semibold text-gray-900">Employee Stocks</h1>
    <nav class="text-sm text-gray-500" aria-label="breadcrumb">
        <ol class="flex justify-center sm:justify-start space-x-2">
            <li><a href="{% url "dashboard" %}" class="text-blue-600 hover:underline">Dashboard</a></li>
            <li>/</li>
            <li><a href="{% url "stocks" %}" class="text-blue-600 hover:underline">Employee Details</a></li>
            <li>/</li>
            <li class="text-gray-400">Employee Stocks</li>
        </ol>
    </nav>
</div>
{% endblock content %}